/* ------------------------------------------------------------------------- */
/* Structure
/*
/* These styles define the overall page structure
/* ------------------------------------------------------------------------- */

.group:after {
	content: ".";
	font-size: 0;
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

html {
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	font-family: "Helvetica", Arial, Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #777;
	margin: 0;
}

a {
	text-decoration: none;
	color: #678DB7;
}
	a:visited { text-decoration: none; color: #5C89BC; }
	a:active  { text-decoration: none; color: #5C89BC; }
	a:hover   { text-decoration: none; color: #4772A3; }

a img {
	border: none;
}

header {
	background-color: #444;
	margin-bottom: 30px;
	padding: 15px 0 12px 0;
	border-bottom: 4px solid #999;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.15, #444),
		color-stop(0.8, #505050)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#444 15%,
		#505050 80%
	);
}

	header a {
		border: none;
	}
	header img {
		display: block;
		float: left;
		margin-right: 20px;
	}
	header span.tagline {
		color: #d3d3d3;
		float: left;
		margin-top: 12px;
		font-style: italic;
	}

img {
	-ms-interpolation-mode: bicubic;
}

nav {
	float: right;
	margin-top: 12px;
}
	nav a {
		display: inline-block;
	}
	nav a,
	nav a:visited {
		margin-right: 0;
		margin-left: 25px;
		color: #fff;
	}
	nav a:hover {
		color: #eee;
	}

footer {
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}
	footer section.main {
		padding-top: 10px;
		border-top: 1px dotted #ddd;
	}

p {
	margin-bottom: 1em;
	margin-top: 0;
}

h1, h2, h3, h4 {
	font-family: 'Arimo', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #666;
	font-style: normal;
}

h1 {
	font-size: 2.3em;
	margin-bottom: 0.5em;
	margin-top: 0;
	line-height: 1.2;
}
	h1 em {
		font-style: normal;
		color: #777;
	}

h2 {
	font-size: 1.7em;
	margin: 0.8em 0 0.4em;
	padding-top: 0;
}
	h2 em {
		font-size: 0.8em;
	}

h3 {
	font-size: 1.4em;
	margin: 0.5em 0 0.4em;
}

h4 {
	font-size: 1.2em;
	margin: 0.8em 0 0.1em;
}

tt, code {
	font-family: "Consolas", "Driod Sans Mono", monospace;
	font-size: 0.85em;
	background-color: #f3f3f3;
	padding: 1px 3px 2px 3px;
}

th {
	vertical-align: top;
	text-align: left;
}

td {
	vertical-align: top;
}

dt {
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
	ul ul {
		margin-bottom: 5px;
	}

ol {
	margin: 0 0 0 5px;
	padding: 0;
	margin-bottom: 20px;
}

li {
	margin: 0 0 0 25px;
	padding: 0;
}

form {
	padding: 0;
	margin: 0;
}

input {
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	font-size: 1.0em;
}
	input[type="checkbox"] {
		margin: 0;
		position: relative;
		top: 2px;
	}

textarea {
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	font-size: 1.0em;
}

label {
	font-weight: bold;
	display: block;
}
	label.inline {
		font-weight: normal;
		display: inline;
	}

div.success,
div.error,
p.success,
p.error {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	padding: 5px 10px;
}
div.success,
p.success {
	background-color: #f0f4e9;
}
div.error,
p.error {
	background-color: #f4ebe9;
}

	div.success p,
	div.error p {
		margin: 7px 0;
	}

	div.success ul,
	div.error ul {
		margin: 7px 0;
		font-size: 0.9em;
	}

pre {
	margin: 0 0 1em 0;
	background-color: #f3f3f3;
	border: 1px solid #e3e3e3;
	padding: 3px 8px 3px 8px;
	overflow: auto;
}

pre.cm-s-default {
	font-family: "Consolas", "Dejavu Sans Mono", "Bitstream Vera Sans Mono", "Driod Sans Mono", "Liberation Mono", monospace;
	font-size: 0.85em;
}



section.main {
	width: 960px;
	margin: 0 auto 0 auto;
}

div.intro {
	font-size: 1.2em;
	line-height: 1.2;
	color: #777;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	font-family: 'Arimo', Helvetica, Arial, sans-serif;
	padding-right: 380px;
}
	div.intro em {
		font-style: normal;
	}

div.sidebar {
	float: right;
	width: 250px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #f3f3f3;
	padding: 20px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #eee;
}

h1 + div.sidebar {
	margin-top: -59px;
}

div.sidebar h2 {
	margin-top: 0;
	padding-top: 0;
}

ul.stackable {
	float: left;
	width: 33%;
}

div.class_docs {
	float: left;
	width: 33%;
}
	div.class_docs ul a {
		font-size: 0.85em;
	}
	div.class_docs ul a[href^="/docs/"] {
		font-size: 1.0em;
		width: 185px;
		display: inline-block;
	}
		div.class_docs ul ul a[href^="/docs/"] {
			width: 175px;
		}
			div.class_docs ul ul ul a[href^="/docs/"] {
				width: 165px;
			}

	div.class_docs ul ul li {
		margin-left: 10px;
	}

	div.class_docs h3 {
		margin-top: 0;
		padding-top: 0;
	}

/* API */
div.changes th {
	padding-right: 10px;
}
div.changes span.date {
	padding-left: 10px;
	font-style: italic;
}
div.meta {
	margin-top: -1.2em;
	margin-bottom: 1em;
}

span.visibility,
span.resolution {
	color: #ccc;
}

div.method,
div.variable,
div.constant {
	padding-left: 15px;
}

h3.method,
h3.variable,
h3.constant {
	margin-top: 0.9em;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

h2 + h3.method,
h2 + h3.variable,
h2 + h3.constant {
	margin-top: 0.5em;
}

td.param_data_type,
td.param_name {
	padding-right: 10px;
}

#GeneralDocumentation {
	clear: left;
}

div.main_actions a.action {
	display: block;
	margin-bottom: 8px;
	text-align: left;
}

div.main_actions a.action,
div.main_actions div.action,
a.action.newest-tag-href {
	line-height: 1.2;
	background-color: #8fb0d5;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.15, #678DB7),
		color-stop(0.8, #8fb0d5)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#678DB7 15%,
		#8fb0d5 80%
	);
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #587fab;
	font-size: 1.2em;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	padding: 6px 20px 6px 19px;
	cursor: pointer;
}
	div.action a {
		color: #fff;
	}
	div.main_actions a.action:hover,
	div.main_actions div.action:hover,
	a.action.newest-tag-href:hover {
		background-color: #97b9e0;
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.15, #6d95c2),
			color-stop(0.8, #97b9e0)
		);
		background-image: -moz-linear-gradient(
			center bottom,
			#6d95c2 15%,
			#97b9e0 80%
		);
		border-color: #587fab;
	}
	a.action span.de-em,
	div.action span.de-em {
		color: #eee;
		font-style: italic;
	}

ul.social {
	list-style-type: none;
}
	ul.social li {
		margin-left: 0;
		margin-bottom: 5px;
	}
		ul.social li a img {
			vertical-align: middle;
		}

div.results > em {
	font-size: 2.0em;
	color: #ccc;
	font-style: normal;
}

div.results div.summary {
	font-size: 1.1em;
	margin-top: 20px;
	overflow: hidden;
	padding: 10px 20px;
	color: #999;
	background-color: #f3f3f3;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
	div.results div.summary div.details a {
		color: #777;
		font-size: 0.9em;
	}

	div.results div.summary div span {
		color: #333;
	}

	div.results div.summary div.commit,
	div.results div.summary div.author,
	div.results div.summary div.date {
		width: 25%;
		float: left;
		clear: left;
	}

	div.results div.summary div.details {
		float: left;
		width: 25%;
	}

	div.results div.summary div.passed span,
	div.results div.summary div.failed span {
		display: block;
	}
		div.results div.summary div.passed {
			float: right;
			width: 25%;
		}
		div.results div.summary div.passed span {
			font-size: 2.0em;
			line-height: 1.2;
		}
		div.results div.summary.passed span.passed {
			color: #73ab10;
			font-weight: bold;
		}

	div.results div.summary.failed {

	}
		div.results div.summary div.failed {
			float: right;
			width: 25%;
		}
		div.results div.summary div.failed span {
			font-size: 2.0em;
			line-height: 1.2;
		}
		div.results div.summary.failed span.failed {
			color: #dc2b02;
			font-weight: bold;
		}

table.test_machines {
	width: 100%;
}

	table.test_machines tr:nth-child(2n) {
		background-color: #f3f3f3;
	}

div.output {
	display: none;
	clear: both;
	padding: 0 0 0 10px;
	font-size: 0.85em;
}
	div.output span.hostname {
		display: block;
		padding-top: 10px;
		font-weight: bold;
	}
	div.output span.totals {
		padding-left: 20px;
	}
	div.output pre.error_message {
		margin-left: 20px;
		color: #555;
	}